<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/employees/createEmployee}" th:method="POST" th:object="${employee}">
    <div>
        <input type="text" th:name="title" th:field="*{title}">
        <span style="color: red;"
              th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}"
        >
<!--              th:text="${#fields.errors('title')}"-->
            Сообщение об ошибке
        </span>
    </div>
    <div>
        <select th:field="*{level}">
            <option th:each="level: ${levels}"
                    th:text="${level.value}"
                    th:value="${level}">
                Level</option>
        </select>
    </div>
    <button type="submit">Create!</button>
</form>
</body>
</html>